<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>FB2YT</h1>

<form>
<h2> User</h2>
<br>
Group
<select>
  <option value="null">vinyldom</option>
  <option value="null">null</option>
  <option value="null">null</option>
  <option value="null">null</option>
</select>
<br>
Link type
<select>
  <option value="youtube">Youtube</option>
  <option value="soundcloud">Soundcloud</option>
</select>
<br>
<input type="checkbox" name="ID" value="ID"> ID<br>
<input type="checkbox" name="Artist" value="Artist"> Artist<br>
<input type="checkbox" name="Song" value="Song"> Song<br>
<input type="button" value="Create Database (optional)"><br>
</form>
<form>
<input type="checkbox" name="Create Youtube Playlist">Create Youtube Playlist<br>
<input type="checkbox" name="add all valid youtube links to playlist">add all valid youtube links to playlist<br>
<input type="checkbox" name="add invalid link's artist and song tags to file">add invalid link's artist and song tags to file<br>
<input type="submit" name="submit">
</form>


</body>
</html>